BOT_TOKEN=YOUR_BOT_TOKEN 
TELETHON_API_ID=YOUR_TELETHON_API_ID
TELETHON_API_HASH=YOUR_TELETHON_API_HASH
TELETHON_SESSION=telethon/qazload.session
DB_PATH=data/qazload.db
CONCURRENT_DOWNLOADS=2
MAX_LINKS_PER_MESSAGE=5
TELETHON_THRESHOLD=2147483648  # 2GB (байтпен)
BOTAPI_THRESHOLD=47185920